<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moon and cloud prediction</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <!-- <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script> -->

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <style>
        .accommodation {
            margin-left: 20px; /* Adjust the value as needed */
        }
    </style>

</head>

<body>
    <h1 class="accommodation"> {{ data['state']}}</h1>
    <!-- <p>Latitude: {{ data.latitude }}</p>
    <p>Longitude: {{ data.longitude }}</p> -->

    <h2 class="accommodation">List of accommodations</h2>
    <ul class="accommodation">
        {% for hotel in data.stay_data %}
          <li>{{ hotel.name }}</li>
        {% endfor %}
    </ul>
<div class="container">
    <div id="table-section">
        <h2>Moon condition and Cloud condition</h2>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Moon Illumination</th>
                    <th>Moon Phase</th>
                    <th>Total cloud cover (mean)</th>
                </tr>
            </thead>
            <tbody id="moonDataBody"></tbody>
        </table>

        <!-- <script type="text/javascript" src="static/js/logic1.js"></script>  -->

        <!-- Make table of moon and cloud condition for 10 days from today -->
        <script>
            const moonDataList = {{ data['moon_weather_data'] | safe }};
            const moonDataBody = document.getElementById('moonDataBody');
            moonDataList.data.forEach(row => {
                const newRow = document.createElement('tr');
                row.forEach(value => {
                    const newCell = document.createElement('td');
                    newCell.appendChild(document.createTextNode(value));
                    newRow.appendChild(newCell);
                });
                moonDataBody.appendChild(newRow);
            });
        </script>
        
        <!-- Highlight when moon illumination <=10 and cloud cover <= 10 -->
        <script type="text/javascript" src="static/js/logic2.js"></script>
    </div>
    

    <!-- Display the map section -->
    <div id="map-section" style="height: 600px; width: 50%;">

        <!-- <script type="text/javascript" src="static/js/logic3.js"></script>    -->

         <!-- Create and configure your Leaflet map instance -->
        <script>
        let myMap = L.map("map-section").setView([{{ data['latitude'] | safe }}, {{ data['longitude'] | safe }}], 8);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(myMap);
        </script>
         <!-- Access the stay_data passed from your Flask route -->
        <script>
        var stayData = {{ data['stay_data'] | tojson | safe }};        
        for (let stay of stayData) {
            let marker = L.marker([stay.latitude, stay.longitude]).addTo(myMap);
              marker.on('click', function () {
            let popup = L.popup()
                .setLatLng([stay.latitude, stay.longitude])
                .setContent(`<b>${stay.name}</b>`)
                .openOn(myMap);
            });
        }
        </script>
    </div> 
</div> 
<style>
    .container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #table-section {
        flex: 1;
    }

    #map-section {
        flex: 1;
    }
</style>
</body> 

</html>