<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project 3- Group 2 - Light Pollution Map </title>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin="" />

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>

<!-- Star animation -->
  <div class="main"></div>

  <section>  
    <h1 style="font-size:50px;">Dark Sky Finder</h1>

    <h2>Use the interactive tools below to explore the best spots to see the night sky!</h2>
    
    <h3>Select Your State</h3>
    <select id="selState" onchange="zoomIn(this.value)">
      {% for state in states %}
      <option value="{{ state['value'] }}">{{ state['name'] }}</option>
      {% endfor %}
    </select>
    <button onclick="sendState()">Submit</button>
    <br>
    <br>
      <h3 >Select a Date</h3>
      <form>
        <label for="when">When do you want to go?</label><br>
        <input type="date" id="when" name="when"><br>
      </form>
  <br><br>
</section>

  <!-- The div that holds our map -->
  <div id="map"></div>

  <!-- The div that holds our Chart.js stuff -->
  <div> <canvas id="myChart"></canvas> </div>
  
  <!-- Chart.js JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

  <!-- Leaflet Heatmap plugin-->
  <script type="text/javascript" src="static/js/leaflet-heat.js"></script>

  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v7.min.js"></script>

  <!-- Our JavaScript -->
  <script>
    function sendState() {
        var selectedState = document.getElementById("selState").options[document.getElementById("selState").selectedIndex].text;
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/about_stay?state=" + selectedState, true);
        xhr.send();
        xhr.onload = function () {
          window.location.href = "/about_stay?state=" + selectedState; 
        };
    }
   </script>
</body>

</html>
