<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project 3- Group 2 - Light Pollution Map </title>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin="" />

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css">

</head>

<body>

<!-- Star animation -->
  <div class="main"></div>

  <!-- State Selection -->
  <section id="states">  

    <h2>Use the interactive tools below to explore the best spots to see the night sky!</h2>
    
    <h3>Select a State</h3>
    <select id="selState" onchange="onStateSelectChange(this.value)">
      <option value="AL">Alabama</option>
      <option value="AK">Alaska</option>
      <option value="AZ">Arizona</option>
      <option value="AR">Arkansas</option>
      <option value="CA">California</option>
      <option value="CO">Colorado</option>
      <option value="CT">Connecticut</option>
      <option value="DE">Delaware</option>
      <option value="DC">District Of Columbia</option>
      <option value="FL">Florida</option>
      <option value="GA">Georgia</option>
      <option value="HI">Hawaii</option>
      <option value="ID">Idaho</option>
      <option value="IL">Illinois</option>
      <option value="IN">Indiana</option>
      <option value="IA">Iowa</option>
      <option value="KS">Kansas</option>
      <option value="KY">Kentucky</option>
      <option value="LA">Louisiana</option>
      <option value="ME">Maine</option>
      <option value="MD">Maryland</option>
      <option value="MA">Massachusetts</option>
      <option value="MI">Michigan</option>
      <option value="MN">Minnesota</option>
      <option value="MS">Mississippi</option>
      <option value="MO">Missouri</option>
      <option value="MT">Montana</option>
      <option value="NE">Nebraska</option>
      <option value="NV">Nevada</option>
      <option value="NH">New Hampshire</option>
      <option value="NJ">New Jersey</option>
      <option value="NM">New Mexico</option>
      <option value="NY">New York</option>
      <option value="NC">North Carolina</option>
      <option value="ND">North Dakota</option>
      <option value="OH">Ohio</option>
      <option value="OK">Oklahoma</option>
      <option value="OR">Oregon</option>
      <option value="PA">Pennsylvania</option>
      <option value="RI">Rhode Island</option>
      <option value="SC">South Carolina</option>
      <option value="SD">South Dakota</option>
      <option value="TN">Tennessee</option>
      <option value="TX">Texas</option>
      <option value="UT">Utah</option>
      <option value="VT">Vermont</option>
      <option value="VA">Virginia</option>
      <option value="WA">Washington</option>
      <option value="WV">West Virginia</option>
      <option value="WI">Wisconsin</option>
      <option value="WY">Wyoming</option>
    </select>
    <br>  <br>
  </section>


  <!-- The div that holds our map -->
  <div id="map"></div>

  <br>  <br>
  <br>  <br>

  <!-- Date Selection -->
  <section id="dates">
    <form>
      <label for="when">Select a Date</label>
      <br>
      <input type="date" id="when" name="when" onchange="selDate(this.value)">
      <!-- <p><button onclick="selDate(this.value)">Submit </button></p> -->
      <br>
    </form>
  </section>

  
   <!-- Moon phases section -->
  <section>
    <h2>Check below to see the best times to go!</h2>

    <table class="moontable">
        <tr class="moonheaders"></tr>
        <tr class="moondata"></tr>
        <tr class="moondrawing"></tr>
    </table>

    <div></div>

  <br>  <br>
  <br>  <br>
  <br>  <br>
  <br>  <br>
  <br>  <br>  

  </section>

  <!-- Make table of moon and cloud condition for 10 days from today -->
  <!-- Highlight when moon illumination <=10 and cloud cover <= 10 -->
  <div class="tables-container">
    <div class="table-container">
  <section id="moonWeatherSection"> 
    <h2 class="moon-header">  </h2>
    <table class="moonWeathertable">
      <thead id="tableHeaders">   
        <!-- <tr> 
        <th colspan="4"><h2>Moon and Cloudiness</h2></th>
        </tr> -->
      </thead>
      <tbody id="moonDataBody"></tbody>
    </table>
</section> 
</div>

<div class="table-container">
  <section id="staySection"> 
    <h2 class="stay-header">  </h2>
    <table class="staytable">
      <thead id="stayHeaders">   
        <tr> 
        <!-- <th><h2>Where to stay</h2></th> -->
        </tr>
      </thead>
      <tbody id="stayDataBody"></tbody>
    </table>
</section> 
</div>
</div>

  <div>
    <canvas id="myChart"></canvas>
  </div>


  <!-- Chart.js JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

  <!-- Leaflet Heatmap plugin-->
  <script type="text/javascript" src="static/js/leaflet-heat.js"></script>

  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v7.min.js"></script>

  <!-- Our JavaScript -->
  <script type="text/javascript" src="static/js/logic.js"></script>
  <script type="text/javascript" src="static/js/api_keys.js"></script>

</body>

<!-- Moon Shadow Library Call -->
<script src="static/js/planet_phase.js"></script>
<script>
  drawPlanetPhase(document.getElementById("phase_0"), moonshadow, waxing, css_style)
  drawPlanetPhase(document.getElementById("phase_1"), moonshadow, waxing, css_style)
  drawPlanetPhase(document.getElementById("phase_2"), moonshadow, waxing, css_style)
  drawPlanetPhase(document.getElementById("phase_3"), moonshadow, waxing, css_style)
  drawPlanetPhase(document.getElementById("phase_4"), moonshadow, waxing, css_style)
  drawPlanetPhase(document.getElementById("phase_5"), moonshadow, waxing, css_style)
  drawPlanetPhase(document.getElementById("phase_6"), moonshadow, waxing, css_style)
  drawPlanetPhase(document.getElementById("phase_7"), moonshadow, waxing, css_style)
  drawPlanetPhase(document.getElementById("phase_8"), moonshadow, waxing, css_style)
</script>
</html>
